{% extends 'crud/base.html' %}
{% block content %}
    {% include 'crud/nav.html' %}
    <br>
    <h2>Add ClassRoom</h2>
    <br>
    <form method= "post" action="{% url 'classbased_add_classroom' %}">
        {% csrf_token %}
        <label>Name</label>
        <input class="form form-control col-md-6" name="name" type="text" style="width: 50%"><br>
        <button type = "submit" class="btn btn-success">Submit</button>
        <a class="btn btn-outline-success" href="{% url 'crud_classroom' %}">Cancel</a>
    </form>
{% endblock %}