{% extends 'cruf/base.html' %}

{% block content %}
    {% inlclude 'curd/nav.html' %}
    <br>
    <h1>Classroom</h1>
    <a href="#" class="btn btn-success" style="float: right">Add ClassRoom</a>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ClassName</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for classroom in classrooms %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ classroom.name}}</td>
            <td>
              <a href="#">Update</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    


{% endblock %}