{% extends 'crud/base.html' %}
{% load static %}

{% block content %}
    {% include 'crud/nav.html' %}
   <br>
   <h2>User Profile</h2>
   <br>
   <div class = "row">
    <div class = "col-md-6">
        {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="pp" style="height: 300px; width: 300px">
        {% else %}
        <img src="{% static 'crud/default.png' %}" alt="pp" style="height: 300px; width: 300px">
        {% endif %}
    </div>
    <div class = "col-md-6">
        <b>Name:</b>&nbsp;&nbsp;{{ user.userprofile.get_full_name }}<br>
        <b>Address:</b>&nbsp;&nbsp;{{ user.userprofile.address }}<br>
        <b>Phone Number:</b>&nbsp;&nbsp;{{ user.userprofile.phone }}<br>

        <a class="btn btn-success" href="{% url 'update_profile' %}">Update</a>
        <a class= "btn btn-outline-success" href="#">Cancel</a>
    </div>
</div>
{% endblock %}